<div class="container">
  <div class="row">
    <div class="card col-4" *ngFor="let voter of registrations; let k = index">
      <div class="card-body">
        <h5 class="card-title">{{voter.name}}</h5>
        <p class="card-text">Primary Key: {{voter.pk}}</p>
        <p class="card-text">Account: {{voter.address}}</p>
        <a href="#" class="btn btn-primary" (click)="verify($event, k)">Verify</a>
        <a href="#" class="btn btn-danger" (click)="reject($event, k)">Reject</a>
      </div>
    </div>
  </div>

</div>
