<form class="col-10">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="name" aria-describedby="nameHelp" placeholder="Enter your Name">
    <small id="nameHelp" class="form-text text-muted">Your Full Name.</small>
  </div>

  <div class="form-group">
    <label for="name">Choose an Account Option:</label>
    <select type="number" [(ngModel)]="accountOption" name="accountOption" class="custom-select">
      <option *ngFor="let opt of availableAccountOptions" [ngValue]="opt">{{opt}}</option>
    </select>
  </div>

  <div [ngSwitch]="accountOption" class="option-area">
    <div *ngSwitchCase="'ACCOUNT'">
      <h4>Using existing account</h4>
      <div class="form-group">
        <label for="existingAccount">Existing Account</label>
        <input type="text" class="form-control" id="existingAccount" [(ngModel)]="existingAccount" aria-describedby="existingAccountHelp" placeholder="Ethereum Account Address">
        <small id="existingAccountHelp" class="form-text text-muted">Enter Your Existing Ethereum Account Address.</small>
      </div>
    </div>
    <div *ngSwitchCase="'METAMASK'">Using Metamask</div>
    <div *ngSwitchCase="'CREATE'">
      <h4>Create New Account</h4>
      <div class="form-group">
        <label for="password">Enter a password for the account</label>
        <input type="password" class="form-control" id="password" [(ngModel)]="newPassword" aria-describedby="passwordHelp"
          placeholder="Password">
        <small id="passwordHelp" class="form-text text-muted">Enter a long and secure Password.</small>
      </div>
      <p>Clicking the button will create you a new Ethereum account.</p>
      <button class="btn btn-success" (click)="createEthAccount()">Get New Ethereum Account</button>
    </div>
    <div *ngSwitchDefault class="text-danger">Please Choose and Account Option From above.</div>
  </div>

  <div class="form-group">
    <label for="primarykey">Voter's Public key</label>
    <input type="text" class="form-control" id="primarykey" placeholder="Voter's Public Key">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>