<form>
  <div class="form-group">
    <label for="account">Account</label>
    <input type="text" class="form-control" id="account" aria-describedby="accountHelp" placeholder="Enter your Account Address">
    <small id="accountHelp" class="form-text text-muted">We'll never share your account address with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="primarykey">Voter's Primary key</label>
    <input type="text" class="form-control" id="primarykey" placeholder="Voter's Primary Key">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>