<!--<figure class="figure">
  <img src="assets\images\bishwo-prakash-sharma.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
  <figcaption class="figure-caption">Bishwo Prakash Sharma <input class="btn btn-primary" type="submit" value="Submit">
  </figcaption>
</figure>


<figure class="figure">

<img src="assets\images\Minister-of-Labour-Employment-and-Social-Security-Gokarna-Bista-450x320.jpg" class="rounded float-right" alt="...">
  <figcaption class="figure-caption">Gokarna Bista <input class="btn btn-primary" type="submit" value="Submit">
  </figcaption>

</figure>
-->

<table>
  <tr>
    <td>
      <div class="imgContainer">
        <div>
          <img src="assets\images\bishwo-prakash-sharma.jpg" width="550px" height="400px"/>
        </div>

        <div class="caption">
          <p> <strong>Bishwo Prakash Sharma </strong></p>
        </div>


        <div class="imgButton">
          <input class="btn btn-primary" type="submit" value="Vote">
        </div>
      </div>
    </td>
    <td>
      <div class="imgContainer">
        <div>
          <img src="assets\images\Minister-of-Labour-Employment-and-Social-Security-Gokarna-Bista-450x320.jpg" width="550px" height="400px"/>
        </div>

        <div class="caption">
          <p> <strong>Gokarna Bista </strong></p>
        </div>

        <div class="imgButton">
          <input class="btn btn-primary" type="submit" value="Vote">

        </div>
      </div>
    </td>
  </tr>
</table>

